.Button {
  width: max-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 20px 56px;
  font-size: var(--button-size);
  line-height: var(--button-line-height);
  text-transform: uppercase;
  font-weight: var(--button-weight);
  letter-spacing: var(--button-letter-spacing);
  cursor: pointer;

  &.isMedium {
    padding: 20px 26px;
  }

  &.isSmall {
    padding: 13px 26px;
  }

  &.isBorderRadius {
    border-radius: 3px;
  }

  &.isPrimaryLight {
    color: var(--color-primary);
    background-color: var(--color-white);
  }

  &.isSecondary {
    background-color: var(--color-secondary);
    color: var(--color-beige-light);
  }

  &.isSecondaryLight {
    background-color: var(--color-white);
    color: var(--color-secondary);

    svg {
      path {
        fill: var(--color-secondary);
      }
    }
  }
}