.HomeSlider {
  position: relative;

  &-gradient {
    position: absolute;
    width: 100%;
    height: 203px;
    background: linear-gradient(180deg,rgba(0, 0, 0, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
    z-index: 2;
  }

  &-slide {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  &-content {
    height: 805px;
  }
}