.Menu {
  width: 100%;
  display: none;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  padding: 13px 40px 13px 30px;
  background-color: transparent;
  transition: var(--animation-transition);

  @media (min-width: $minLg) {
    display: flex;
  }

  &-primary, &-right {
    display: flex;
    align-items: center;
    gap: 30px;
    flex: 0 0 530px;
  }

  &-primary {
    .Button {
      margin-right: 4px;
    }
  }

  &-secondary {
    display: flex;
    align-items: center;
    gap: 30px;

    .Button {
      margin-left: 4px;
    }
  }

  &-tertiary {
    display: flex;
    align-items: center;
    gap: 22px;
  }

  &-item {
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    line-height: var(--button-line-height);
    text-transform: uppercase;
    letter-spacing: var(--button-letter-spacing);

    a {
      width: max-content;
      display: flex;
      color: var(--color-beige-dark);
      transition: var(--animation-transition);
    }
  }

  &-logo {
    animation: disappear var(--animation-transition) forwards;
    display: none;
    flex: 0 1 auto;

    img {
      width: 148px;
    }
  }

  &.isScrolled {
    background-color: var(--color-white);

    .Menu {
      &-logo {
        animation: appear var(--animation-transition) forwards;
        display: flex;
      }

      &-item {
        a {
          color: var(--color-primary);
        }

        svg {
          path {
            fill: var(--color-primary);
          }
        }
      }
    }
  }
}