.Properties {
  display: flex;
  flex-direction: column;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    @media(min-width: $minLg) {
      gap: 10px;
    }
  }

  &-title {
    max-width: 700px;
    text-align: center;
    color: var(--color-primary);
  }

  &-subTitle {
    text-align: center;
  }

  &-slider {
    margin: 60px 0 40px 0;
    overflow: visible !important;

    @media(min-width: $minLg) {
      margin: 100px 0 80px 0;
    }
  }

  &-slide {
    width: fit-content !important;
  }

  &-card {
    max-width: 316px;
    display: flex;
    flex-direction: column;
    gap: 25px;
  }

  &-img {
    position: relative;

    img {
      width: 316px;
      height: 316px;
    }
  }

  &-label {
    position: absolute;
    top: -19px;
    left: 15px;
    padding: 12px 20px;
    border-radius: 3px;
    font-size: var(--button-size);
    line-height: var(--button-line-height);
    text-transform: uppercase;
    font-weight: var(--button-weight);
    letter-spacing: var(--button-letter-spacing);
    color: var(--color-beige-light);
    background-color: var(--color-quaternary);
  }

  &-infos {
    display: flex;
    flex-direction: column;
  }

  &-type {
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    line-height: var(--button-line-height);
    text-transform: uppercase;
    letter-spacing: var(--button-letter-spacing);
    color: var(--color-primary);
  }

  &-name {
    margin: 12px 0 15px 0;
    color: var(--color-secondary);
  }

  &-location {
    color: var(--color-grey);
  }

  &-data {
    margin-top: 18px;
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;

    span {
      color: var(--color-grey);
    }
  }

  &-price {
    font-weight: var(--button-weight);
    color: var(--color-tertiary);
  }


  &-navigation {
    button {
      position: absolute;
      top: 50%;
      padding: 16px 25px;
      border-radius: 3px;
      background-color: var(--color-white);
      z-index: 1;
      cursor: pointer;

      @media (min-width: $minLg) {
        top: 158px;
      }

      &:first-child {
        left: -10px;
        transform: translateY(-50%) rotate(180deg);
        transform-origin: center center;

        @media (min-width: $minLg) {
          left: -50px;
        }
      }

      &:last-child {
        right: -10px;
        transform: translateY(-50%);

        @media (min-width: $minLg) {
          right: -50px;
        }
      }

      &[disabled] {
        display: none;
      }

      svg {
        width: 40px;
        height: 25px;
      }
    }
  }

  &-footer {
    display: flex;
    justify-content: center;
  }
}