.Services {
  display: flex;
  flex-direction: column;
  gap: 37px;

  &-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    @media(min-width: $minLg) {
      gap: unset;
    }
  }

  &-logo {
    width: 55px;
  }

  &-title {
    max-width: 700px;
    text-align: center;
    color: var(--color-primary);
  }

  &-subTitle {
    text-align: center;

    @media(min-width: $minLg) {
      margin-top: 10px;
    }
  }

  &-list {
    border-top: 1px solid rgba(2, 73, 110, 0.3);
  }
}

.Service {
  display: flex;
  padding: 40px 20px;
  border-bottom: 1px solid rgba(2, 73, 110, 0.3);
  cursor: pointer;

  @media (min-width: $minLg) {
    padding: 0;
    cursor: unset;
  }

  &-container {
    padding: 0 20px;
    width: auto;

    @media (min-width: $minLg) {
      width: 100%;
      max-width: 1400px;
      display: flex;
      margin: auto 0 auto auto;
      padding: 0;
    }
  }

  &-title {
    h2 {
      color: var(--color-secondary);
    }

    @media (min-width: $minLg) {
      padding: 72px 0;
    }
  }

  &-description {
    display: none;
    margin-top: 15px;

    @media(min-width: $minLg) {
      margin-top: 0;
    }
  }

  &-link {
    display: none;
    align-items: center;
    gap: 18px;
    margin-top: 30px;
    font-size: var(--button-size);
    font-weight: var(--button-weight);
    line-height: var(--button-leight-height);
    text-transform: uppercase;
    letter-spacing: var(--button-letter-spacing);
    color: var(--color-secondary);

    @media(min-width: $minLg) {
      margin-top: 0;
      gap: 34px;
      background-color: var(--color-beige-light);
    }

    svg {
      width: 40px;
      height: 25px;

      @media (min-width: $minLg) {
        width: 90px;
        height: 55px;
      }
    }
  }

  &.isOpen {
    padding: 40px 0;

    .Service {
      &-description {
        display: flex;
      }

      &-link {
        display: flex;
      }
    }

    @media(min-width: $minLg) {
      padding: 0;
      background: var(--color-white);

      .Service {
        &-title {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          flex: 1;
          padding-right: 185px;
          background-color: var(--color-white);
        }

        &-description {
          max-width: 300px;
          display: flex;
          align-items: center;
          background-color: var(--color-white);
        }

        &-link {
          display: flex;
          align-items: center;
          padding: 0 80px;
        }
      }
    }
  }
}